body {
    background-color: beige;
    display: block;
    justify-content: space-around;
    transform: translateY(100px);
}

.parent {
    justify-content: center;
    display: flex;
    padding: 6px;
}

.parent ul {
    border-radius: 5px;
    display: flex;
    background-color: wheat;
    border: 2px solid black;
    padding: 5px;
}

.parent ul li {
    display: flex;
    padding: 10px;
}

#userinput {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#date {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#amount {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#del {
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#sumbit {
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#submit:hover {
    background-color: aliceblue;
}

#submit :active {
    padding: 2px;
}

#todo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#todo-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#name {
    width: 60px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#delete {
    display: flex;
}

#done {
    display: flex;
}

#list {
    height: 1000px;
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#list li {
    word-wrap: break-word;
    height: 200px;
    width: 320px;
    margin: 15px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: larger;
    border: 2px solid brown;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#list li button {
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    display: flex;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background-color: red;
}